 /* global  */
body {
  margin: 0;
}

@media (max-width: 520px) {
  .main {
    margin: 1em;
    transition: 0.5s;
  }
}

@media (min-width: 520px) {
  .main {
    margin: 2em;
    transition: 0.5s;
  }
}

.container {
  margin: 0 auto;
  color: var(--text-color);
}

p, i, svg {
  color: var(--text-color);
}

a, .text-link{
  color: var(--text-color);
  text-decoration: none;
  margin: 3px;
}

a:hover, .text-link:hover{
  color: var(--text-color-secondary);
  transition: 0.3s;
}

form{
  align-items: center;
  min-width: 220px;
  margin: 5px;
}

input, select, option, label {
  max-width: 300px;
}

 /* main classes  */
 /* page  */
.p-card {
  min-height: 78vh;
}

/* nav  */
.navbar{
  background-color: var(--surface-50);
  height: 10vh;
  padding: 1em;
  position: sticky;
  z-index: 100;
  display: flex;
  top: 0;
}

.nav-left {
  display: inline-block;
  background-color: transparent
}

.nav-right{
  display: inline-block;
  background-color: transparent;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.avatar-round {
  background-color: #2196F3;
  color: #fff;
}

/* fotter  */
.footer{
  bottom: 0;
  margin: 0 auto;
  padding: 0.25em 0.25em 0.25em 0.25em;
  font-size: small;
  display: block;
  text-align: center;
}

.footer a {
  justify-content: center;
  margin: 0.5em 0.25em 0.5em 0.25em;
}

/* text sizes */
.small {
  font-size: 0.75em;
}

.mid-small {
  font-size: 0.9em;
}

.medium {
  font-size: 1em;
}

.mid-large{
  font-size: 1.25em;
}

.large{
  font-size: 1.5em;
}

/* description */
.box-gray-description{
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em;
}

@media (max-width: 380px) {
  .box-gray-description {
    padding: 0.25em;
    margin: 0;
    transition: 0.5s;
  }
}

/* comments */
.box-gray-comment{
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.25em;
}

.p-panel .p-panel-content {
  padding: 0.25em;
}

.text-mini {
  color: var(--gray-500);
}

.home-page-icon{
  font-size: 2em;
}

.txt-right {
  text-align: end;
}

.cursor-pointer{
  cursor: pointer;
}

.divider{
  padding: 2em;
}
