body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: #e7ecef;
}

table {
  width: 100%;
  background-color: #e7ecef;
}

table, thead, tbody, th, tr, td {
  border: 1px solid #fff;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
}

a{
  opacity: 0.9;
  text-decoration: none;
  margin: 5px;
}

a:hover{
  opacity: 1;
  transition: 0.3s;
}

form{
  align-items: center;
  min-width: 250px;
  margin: 5px;
}

input, button {
  margin: 3px 0px 3px;
  max-width: 300px;
}

.main{
  margin: 2em;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

.footer{
  background-color: #e7ecef;
  bottom: 0;
  margin: 0 auto;
  padding: 0.25em 0.25em 0.25em 0.25em;
  font-size: small;
  display: block;
  text-align: center;
}

.footer a {
  justify-content: center;
  color: #495057;
  margin: 0.5em 0.25em 0.5em 0.25em;
}

.p-inputtext-sm{
  margin: 5px;
  display: block;
  min-width: 250px;
}

.bg-light-gray {
  background-color: #e7ecef;
}

.bg-black{
  background-color: #30343f;
}

.txt-white{
  color: #fff;
}

.txt-gray {
  color: #adb5bd;
}

.txt-dark-gray {
  color: #495057;
}

.txt-blue {
  color: #1a759f
}

.small {
  font-size: 12px;
}

.mid-small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.box-gray-1{
  border: 1px solid #e7ecef;
  border-radius: 5px;
  padding: 0.25em 1em 0.25em 1em;
  margin: 0.5em;
}

.p-h-1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.p-v-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.p-h-2 {
  padding-left: 1em;
  padding-right: 1em;
}

.p-v-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.full-with {
  width: 100%;
}

.txt-right {
  text-align: end;
}

.navbar{
  height: 3em;
  padding: 0.75em;
  position: sticky;
  top: 0;
}

.nav-left {
  display: inline-block;
}

.nav-right{
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

.fa-sign-out{
  align-items: center;
}

.p-panel.p-panel-toggleable .p-panel-header { 
  padding: 0.25em 1.25em;
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.divider{
  padding: 2em;
}
